.about-content {
  position: relative;
  width: 40%;
  left: 39vw;
  top: 11vw;
  font-family: 'europa';
  color: #f1d7d7;
  text-align: justify;
  font-size: 1.8rem;
  h2 {
    margin: 0px 0px 6px;
    color: white;
  }
}

