@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon.eot?uhqgj');
  src:font-url('icomoon.eot?#iefixuhqgjo') format('embedded-opentype'),
    font-url('icomoon.woff?uhqgzasdajo') format('woff'),
    font-url('icomoon.ttf?uhqgjo') format('truetype'),
    font-url('icomoon.svg?uhqgjo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

