@import 'fonts';
@import 'about';
@import 'photo';

body {
  color: #333;
  font-family: 'europa', sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #222;
}

.pagenav {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
}

.pagenav-item {
  position: absolute;
  &.top, &.bottom { left: calc(50% - 1.5em); }
  &.left, &.right { top: calc(50% - 1.5em); }
  &.right { right: 0; }
  &.bottom { bottom: 0; }

  span {
    color: white;
    font-family: 'soleil', sans-serif;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 0.06rem;
    text-shadow: 1px 1px 3px #272727b3;
  }

  &.top span {
    display: block;
    margin-top: 4px;
  }
  &.right span {
    margin-right: -6px;
    transform: rotate(90deg);
  }
  &.left span {
    transform: rotate(270deg);
    margin-left: -40px;
  }
  &.bottom span {
    display: block;
    margin-bottom: 8px;
  }
}
.pagenav-btn {
  border: 0;
  background: white;
  color: transparent;
  padding: 0;
  margin: 0;
  width: 2.2em;
  height: 2.2em;
  cursor: pointer;
  pointer-events: auto;
  align-items: flex-start;
  display: inline-block;
  &:hover, &:focus {
    width: 2.4em;
    height: 2.4em;
    color: transparent;
    transition: 0.2s ease-in-out;
  }
  &.btn-top {
    -webkit-clip-path: polygon(51% 53%, 0% 100%, 100% 100%);
    clip-path: polygon(51% 53%, 0% 100%, 100% 100%);
  }
  &.btn-right {
    top: 50%;
    right: 0;
    -webkit-clip-path: polygon(51% 53%, 0 0, 0 100%);
    clip-path: polygon(51% 53%, 0 0, 0 100%);
  }
  &.btn-left {
    top: 50%;
    left: 0;
    -webkit-clip-path: polygon(51% 53%, 100% 100%, 100% 0);
    clip-path: polygon(51% 53%, 100% 100%, 100% 0);
  }
  &.btn-bottom {
    bottom: 0px;
    -webkit-clip-path: polygon(51% 53%, 100% 0, 0 0);
    clip-path: polygon(51% 53%, 100% 0, 0 0);
  }
}

.barba-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  &.homie { background-image: url(/images/bg.jpg); }
  &.about { background-image: url(/images/bg_about.jpg); }
  &.photo { background-image: url(/images/bg_photo.jpg); }
}

.home-link {
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 1.8rem;
  font-weight: 800;
  font-family: 'europa', sans-serif;
  z-index: 100;
  h3 { margin: 0 }
  a {
    color: #F1E2CE;
    text-decoration: none;
    text-shadow: 1px 1px 3px #2727272e;
  }
}

h1 {
  top: 39vh;
  font-size: 6.2rem;
  font-family: 'europa', sans-serif;
  color: white;
  position: relative;
  margin: 0px !important;
  font-weight: 700;
  .invert {
    color: #464040;
  }
  @media screen and (max-width: 768px) {
    font-size: 3.6rem;
  }
}

a {
  color: rgba(#000, 0.7);
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.subtitle {
  position: relative;
  top: calc(39vh + 16px);
  font-family: 'europa', sans-serif;
  font-size: 19px;

  h3 {
    margin: 5px 0px;
  }

  .soc-icons {
    a {
      text-decoration: none;
      color: transparent;
      width: 26px;
      display: inline-block;
      &:before {
        font-family: 'icomoon';
        color: #222;
        line-height: 19px;
        display: block;
      }
      &:hover {
        &:before {
          color: #7198b6;
          transition: 0.2s ease;
        }
      }
    }
    .email-soc:before { content: '\e603'; }
    .insta-soc:before { content: '\e600'; }
    .github-soc:before { content: '\e605'; }
    .linkedin-soc:before { content: '\e606'; }
    .fb-soc:before { content: '\e604'; }
    .linkedin-soc:before, .fb-soc:before {
      line-height: 22px;
    }
  }
}
