---
title: • Allison Le
name: about
---

<div class='barba-container about'>
  <div class='about-content'>
    <h2>HELLO</h2>
    <div>
      My name is Allison and I'm the creator of this website, and a few other things.
      Besides being a web developer & hobbyist picture-taker I am also an avid consumer
      and occasional doer of comedy and improv. I also enjoy forcing myself to do yoga
      semi-regularly and teaching myself how to cook various vietnamese dishes. I
      listen to too many podcasts (send me yours). That's it!
    </div>
  </div>
</div>
