---
title: • Allison Le
stylesheet: about
---

<div class='barba-container about'>
  <div class='home-link'>
    <a href="index.html">
      <h3>Allison <span class="invert">Le</span></h3>
    </a>
  </div>

  <div class='about-content'>
    <a href="index.html">hey there, nice to meet you.</a>
    <div>
      My name is Allison and I'm the creator of this website, and a few other things.
      Besides making websites and taking pictures I am an avid consumer and occasional
      doer of comedy and improv. I also enjoy forcing myself to do yoga semi-regularly
      and teaching myself how to cook new vietnamese dishes. That's it I guess!
    </div>
  </div>
</div>
