---
title: • Allison Le
name: contact 
---
<%= javascript_include_tag "contact_form" %>
<div class='barba-container contact'>
  <div class='contact-content'>
    <form id="contact-form">
      <p>Hi Allison. Longtime fan of your work. My
        <label for="your-name">name</label> is
        <input type="text" name="your-name" id="your-name" minlength="3" placeholder="(your name here)" required>
      </p>
      <p>and my
        <label for="email">email address</label> is
        <input type="email" name="your-email" id="email" placeholder="(your email address)" required>.
      </p>
      <p>Here's my
        <label for="your-message"></label> message!</p>
      <p>
        <textarea name="your-message" id="your-message" placeholder="(talk to me)" class="expanding" required></textarea>
      </p>
      <p>
        <button type="submit">send</button>
      </p>
    </form>

    <div class="soc-icons">
      <a href="mailto:hello@allisonle.com" class="email-soc">Email</a>
      <a href="http://facebook.com/vexillografica" target="_blank" class="fb-soc">Facebook</a>
      <a href="http://instagram.com/vexillografica" target="_blank" class="insta-soc">Instagram</a>
      <a href="https://github.com/allisonle" class="github-soc">Github</a>
      <a href="https://www.linkedin.com/in/allison-le-38910425/" target="_blank" class="linkedin-soc">Github</a>
    </div>
  </div>
</div>
