---
title: • Allison Le
---

<div class='barba-container homie'>
  <h1>Allison <span class="invert">Le</span></h1>
  <div class="subtitle">
    <h3>Maker of internet things</h3>
    <div class="soc-icons">
      <a href="mailto:hello@allisonle.com" class="email-soc">Email</a>
      <a href="http://facebook.com/vexillografica" target="_blank" class="fb-soc">Facebook</a>
      <a href="http://instagram.com/vexillografica" target="_blank" class="insta-soc">Instagram</a>
      <a href="https://github.com/allisonle" class="github-soc">Github</a>
      <a href="https://www.linkedin.com/in/allison-le-38910425/" target="_blank" class="linkedin-soc">Github</a>
    </div>
  </div>
</div>
